* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(#e66465, #9198e5);
    width: 100vw;
    height: 100vh; 
    overflow-x: hidden; 
}


#title {
    font-style: oblique;
    color: rgb(6, 74, 48);
    font-weight: bolder;
    
}

.glass {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;



}

#output {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#output > div:last-child {
    margin-bottom: 0;
}

main, #output-wrapper {
    height: 0;
}

.message.me {
    align-self: flex-end;
    /* background-color: rgb(208, 242, 255); */
    background: radial-gradient(#e8ebe0, #605b61);

}

.message {
    width: fit-content;
    background: radial-gradient(rgb(160, 136, 232), #404242);
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.message.others::after{
    position: absolute;
    content: '';
    display: block;
    height: 0;
    width: 5px;
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(70, 66, 66);
    border-bottom: 5px solid transparent;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
}

.message.me::after{
    position: absolute;
    content: '';
    display: block;
    height: 0;
    width: 5px;
    border-top: 5px solid transparent;
    border-left: 5px solid rgb(156, 152, 157);
    border-bottom: 5px solid transparent;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
}

#output::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #e0e0e0; /* or add it to the track */
  }
  
#output::-webkit-scrollbar-thumb {
    background: rgb(12, 144, 196);
}

#login-overlay {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
}

#account {
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 50%;
    background-size: contain;
    cursor: pointer;
    position: relative;
    
    
}

#account-details {
    position: absolute;
    width: 200px;
    right: 0;
    top: calc(100% + 2px);
    /* background: radial-gradient(#1cee4d, #088b20); 
    border-radius: 10px;  */
    text-align: right;
    /* padding: 5px; */
    z-index: 9999;

    background: rgba(255, 255, 255, 0.56);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

#user-email {
    color: gray;
    font-size: 0.8rem;
    padding-right: 10px;
}

#user-name {
    padding: 10px 10px 0;
}

#btn-sign-out {
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: radial-gradient(#1ceece, #07771b);
    border-radius: 10px;
    
}

#loader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader-wrapper {
    transform: scale(1.4);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid limegreen;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: limegreen transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  